.body-f{
    animation: change 10s infinite;
    min-height: 100vh;
}

@keyframes change{
    0%{background: hsl(248, 9.1, 17.3);}
    25%{background: hsl(248, 8, 17.3);}
    50%{background: hsl(248, 6, 17.3);}
    75%{background: hsl(248, 8, 17.3);}
    100%{background: hsl(248, 9.1, 17.3);}
}


body { 
    background: rgb(41, 40, 48);
    animation: fadeInAnimation ease 2s;
    animation-iteration-count: 1; 
    animation-fill-mode: forwards; 
} 
  
@keyframes fadeInAnimation { 
    0% { 
        opacity: 0; 
    } 
    100% { 
        opacity: 1; 
     } 
} 

.back-button{
/* border-radius: 50%; */
max-width: 50px;
max-height: 50px;
width: 10vh;
height: 10vh;
object-fit: contain;
fill: aliceblue;

/* background: rgb(248, 246, 246); */
/* border: 1px solid rgb(26, 3, 3); */
/* box-shadow: 1px 1px 2px rgb(27, 27, 27); */
}

.back-svg{
    fill: hsl(207, 9%, 75%);
    transition: ease-in-out 0.3s;
    max-width:100%;
    max-height:100%;
}

.back-svg:hover{
    fill: hsl(223, 41%, 97%);
}

.container-back{
    margin: 5px;
    padding-left: 2px;
}


.title-container h1{
    font-size: 3rem;
    color: white;
    margin-right:5px;
}


.font-pinkd{
    font-family: "pink_diary";
}

.card-extra{
    border-top: 3px solid rgb(87, 61, 255);
    transition: ease-in-out 0.3s;
    width: 18rem;
    height: 12rem;
    max-width: 300px;
    max-height: 200px;
    margin-left: 20px;
    margin-bottom: 20px;
    align-self: center;
}

.card-extra:hover{
    margin-top: -10px;
    box-shadow: 0px 2px 2px black;
}

.card-body{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.row-container{
    display: flex;
    justify-content: center;
}

#cards-container{
    justify-content: center;
}

.icon{
    width: 3.5rem;
    height: auto;
    object-fit:contain;
    border-radius: 50%;
}

.search-class{
    border-radius: 5px;
    min-width: 150px;
    transition: ease-in-out 0.1s;
}


.search-class:focus{
    border: 2px solid hsl(176, 54%, 55%);
}


