

body{
    background: rgb(41, 40, 48);
    animation: change 10s infinite;
}

@keyframes change{
    0%{background: hsl(248, 9.1, 17.3);}
    25%{background: hsl(248, 8, 17.3);}
    50%{background: hsl(248, 6, 17.3);}
    75%{background: hsl(248, 8, 17.3);}
    100%{background: hsl(248, 9.1, 17.3);}
}


body { 
    animation: fadeInAnimation ease 2s;
    animation-iteration-count: 1; 
    animation-fill-mode: forwards; 
} 
  
@keyframes fadeInAnimation { 
    0% { 
        opacity: 0; 
    } 
    100% { 
        opacity: 1; 
     } 
} 

.back-button{
/* border-radius: 50%; */
max-width: 50px;
max-height: 50px;
width: 10vh;
height: 10vh;
object-fit: contain;
fill: aliceblue;

/* background: rgb(248, 246, 246); */
/* border: 1px solid rgb(26, 3, 3); */
/* box-shadow: 1px 1px 2px rgb(27, 27, 27); */
}

.back-svg{
    fill: hsl(207, 9%, 75%);
    transition: ease-in-out 0.3s;
    max-width:100%;
    max-height:100%;
}

.back-svg:hover{
    fill: hsl(223, 41%, 97%);
}