<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <!-- <meta http-equiv="Content-Security-Policy" content="default-src 'self'"> -->
  <title>Career</title>
  <link rel="stylesheet" href="../css/bootstrap.min.css">
  <link rel="stylesheet" href="../fonts/fonts.css">
  <link rel="stylesheet" href="../css/reset.css">
  <link rel="stylesheet" href="../css/index.css">
  <!-- https://electronjs.org/docs/tutorial/security#csp-meta-tag -->
  <meta http-equiv="Content-Security-Policy" content="script-src 'self' 'unsafe-inline';" />
</head>

<body>

  <!-- Main Container App -->
  <div class="container app d-flex flex-column justify-content-center">
    <!-- Title -->
    <div class="container m-3 d-flex flex-row justify-content-center">
      <h1 class=main-title>Tec App</h1>
      <img src="../media/logo.png" alt="<logo>" class="img-fluid image-icon">
    </div>
    <!-- Options -->
    <div class="container m-3 d-flex flex-column align-items-center">
      <button class="btn-primary option-element" onclick="onTec()">Tec <code>&gtrless; |section|</code></button>
      <button class="btn-primary option-element" onclick="onUdemy()">Udemy <code>&gtrless; |section|</code></button>
    </div>
  </div>
</body>


<script>
  if (typeof module === 'object') { window.module = module; module = undefined; }
  </script>

<script src="./jquery.min.js"></script>
<script>

  
  // Handles (buttons)

  const { ipcRenderer } = require('electron')

  $("body").ready(() => {
    $('body').fadeIn(10000);
  })

  // Tec Handle
  const onTec = () => {
    // In renderer process (web page).
    console.log(ipcRenderer.sendSync('onTec', 'click')) // prints "pong"

  }

  // Udemy Handle
  const onUdemy = () => {
    // In renderer process (web page).
    console.log(ipcRenderer.sendSync('onUdemy', 'click')) // prints "pong"
  }

</script>

<script>if (window.module) module = window.module;</script>

</html>